In [64]:
import numpy as np
import pandas as pd
import random

In [65]:
train = pd.read_csv('relevance_train.csv', sep='\t', index_col=False)
test = pd.read_csv('relevance_test.csv', sep=',', index_col=False)

In [66]:
train.head()

   QueryId  DocumentId  Relevance
0        1         184          2
1        1          29          2
2        1          31          2
3        1          12          3
4        1          51          3

In [67]:
test.head()

   QueryId  DocumentId
0      126         974
1      126        1326
2      126         187
3      126         969
4      126         970

In [68]:
documents = relevance_train['DocumentId'].unique()

In [69]:
test['Relevance'] = np.random.rand(len(test)) * (-1)

In [71]:
for i in documents:
    test.loc[test['DocumentId']==i, 'Relevance'] = (train[train['DocumentId']==i]['Relevance']).mean() * (-1)

In [73]:
test.head()

   QueryId  DocumentId  Relevance
0      126         974  -4.000000
1      126        1326  -0.310881
2      126         187  -3.333333
3      126         969  -2.000000
4      126         970  -2.000000

In [72]:
test.sort_values(['QueryId', 'Relevance'])[['QueryId', 'DocumentId']].to_csv('Result_new_2.csv', index=False)